 .lsy-n1-bgpic{ 
	width: 100%;
	/* height: 15%; */
	margin-left: -1%;
	margin-top: -1.5%;  
	/* border: 2px solid red; */
	float: left;
	position: absolute; 
	z-index:3;
	/* background-color: rgb(10,10,10); */
}
.pic{  
 	width: 100%;
 	
 	margin-top: 2.5%;    
 	margin-left: -0.5%; 
 	/* border: 1px solid red;  */
 	float: left;
 	position: absolute;
 	z-index:1;	
 	display: none;
 }

/* 右边三个圆 */
#myCanvasFir{
	margin-top: 35%;    
	margin-left: 65%;  
	float: left;
	position: absolute;
	/* border: 1px solid red;  */
	opacity: 0.4; 
	z-index:5;	
}
#myCanvasFir:hover{
	opacity: 0.6;
}

#myCanvasSec{
	margin-top: 40%;    
	margin-left: 68%;  
	float: left;
	position: absolute;
	/* border: 1px solid red;  */
	opacity: 0.4;  
	z-index:5;	
}
#myCanvasSec:hover{
	opacity: 0.6;
}
#myCanvasThir{
	margin-top: 45%;    
	margin-left: 65%;  
	float: left;
	position: absolute;
	/* border: 1px solid red;  */
	opacity: 0.4;  
	z-index:5;	
}
#myCanvasThir:hover{
	opacity: 0.6;
}


/* 左边三个圆 */
#myCanvasFirLeft{
	margin-top: 35%;    
	margin-left: 25%;  
	float: left;
	position: absolute;
/* 	border: 1px solid red;*/	
	opacity: 0.4; 
	z-index:5;	
}
#myCanvasFirLeft:hover{
	opacity: 0.6;
}
#myCanvasSecLeft{
	margin-top: 40%;    
	margin-left: 23%;  
	float: left;
	position: absolute;
	/* border: 1px solid red; */
	opacity: 0.4;  
	z-index:5;	
}
#myCanvasSecLeft:hover{
	opacity: 0.6;
}

#myCanvasThirLeft{
	margin-top: 45%;    
	margin-left: 25%;  
	float: left;
	position: absolute;
	/* border: 1px solid red; */
	opacity: 0.4;  
	z-index:5;	
}
#myCanvasThirLeft:hover{
	opacity: 0.6;
}



.lsy-n1-t1{
	width: 5%;
	
	margin-top:15%; 
	margin-left:20%;
	float: left;
	z-index:2;
	position: absolute;

}
.lsy-n1-t2{
	width: 45%;
	margin-top:15%; 
	margin-left:30%;
	float: left;
	z-index:2;
	position: absolute;
	/* border: 1px solid red;  */
}
.lsy-n1-t3{
	opacity: 0;
}
.lsy-n1-t3:hover{
	opacity: 1.0;
}

.lsy-p2{
	width: 100%;
	/* background-color: rgb(0,0,0); */
	border: 1px solid red;
	/* margin-top: 10%; */
	position: absolute;
	z-index:1;
	float: left;
}
.p2a{
	width: 25%;
	margin-top:60%; 
	margin-left:45%;
	/* border: 1px solid red; */
	position: absolute; 
	z-index:2; 
	float: left;
}
.p2b{
	margin-left: 30%;
	z-index:3; 
}
.p2c{
	margin-top:73%;
	margin-bottom: 20%;
	z-index:4;
}
.lsy-p3{
	width: 100%;
	
	border: 1px solid red;
	/* margin-top:150%; */
	position: absolute;
	z-index:1;
	float: left;


}
